option[value=ADA] { 
    display:none;
}
option[value=AB] { 
    display:none;
}
option[value=SON] { 
    display:none;
}
option[value=EQS] { 
    display:none;
}
option[value=EQT] { 
    display:none;
}
option[value=EQA] { 
    display:none;
}
option[value=EQF] { 
    display:none;
}
option[value=EQP] { 
    display:none;
}
option[value=EQR] { 
    display:none;
}
option[value=EQI] { 
    display:none;
}
option[value=ERA] { 
    display:none;
}
option[value=SUS] { 
    display:none;
}
